#logo{ 
	/*width: 100px;*/
	height: 100%;
	margin-top: 0px;
	float:left;
	border-radius: 70%;
	position: absolute;
	left: 0px;
	top:0px;

 }

 nav{
 	position: relative;
 }
body{
background-image: url("spring.png");
/*background-repeat: no-repeat;
background-size: 100%;
background-blend-mode: lighten;
margin-top: 0px*/
}

article, header, section, aside, footer{
	border: 2px solid lightgrey;
	padding: 10px;
	margin:5px;
	font-family: sans-serif;
	color: red;
	box-sizing: border-box;
	

}

aside{
	width: 25%
}
article{
	width: 75%
}
	
ul{
	display: flex;
	flex-flow: row wrap;
	justify-content: flex-end;
	/*margin-top: 0px;*/
    /*padding-top: 40px;*/
    background-color:skyblue;
    margin: 0px;
    font-size: 25px
}

/*li{
 	display:inline-block;
	margin-right: 16px
 }*/

 article{
 	clear: left; 
 }

 .container{
 	margin: 0 auto;
 	width: 100%;
 	display:flex;
 }

li{
  text-decoration: none;
  display: block;
  padding: 1em;
  color: white;
}

li:hover {
  background: darken(deepskyblue, 50%);
}

 
 .car{
 	max-width: 100%;
 }
.back{
	background-color: yellow;
	position: fixed;
  	bottom: 20px;
 	right: 20px;
 	width: 150px;
	border:2px solid black;
    transition: all 2s linear;

}
.back:hover {
    background-color: red;
    border: 3px solid black;
    width: 200px;
    transform: scale(1.5);
    /*transform: rotate(45deg);*/
    /*transform: translate(-200px);*/
}

 @media(max-width: 480px){
 	ul{flex-direction: column;
 	}
 	.container{
 		display: block;
 	}
 	ul{padding-left: 0}

 	li{
 		text-align: center;
    	padding: 10px;
    	border-top: 1px solid rgba(255, 255, 255, 0.3);
 	}
 	#logo{
 		display: none;
 	}
 	article {
 		width: 100%;
 	}
 	aside{
 		width:100%
 	}
 	
 }

 @media(max-width: 800px){
 	ul{justify-content: space-around;
 	}
 	.container{
 		display: block;
 	}
 	article {
 		width: 100%;
 	}
 	aside{
 		width:100%
 	}
 }

 /*article{
 	width: 500px
 }

aside{
	width: 200px
}*/


/*
body{ 

	color: black; 
	font-family: arial; 
	background-image: url("./spring.png")
 }

h1, h2, h3{
	color: red
}


.red{
	color: violet
}

.peta{float:right;
	 display:inline-block;
}

header {
	border:12px solid green;
	padding: 10px
}

article {
	border :12px solid green;
	padding :20px;
}


